.login {
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 1;
}

.login h1 {
    font-weight : 900;
    font-size : 80px;
    padding-bottom : 20px;
}

.login .input_row {
    position: relative;
    height: 30%;
    margin-bottom: 20px;
    padding: 7px 35px 10px 11px;
    border: solid 1px #dadada;
    background: #fff;
    width:100%;
    max-width: 450px;
    font-size : 16px;
}

.login .up_row {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px 30px 10px 11px;
    border: solid 1px #dadada;
    background: #fff;
    width:100%;
    max-width: 450px;
    font-size : 16px;
}

.login label{
    width : 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.login content{
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

.login .title{
    display: flex;
}

.login .btn_1{
    width: 100%;
    max-width: 450px;
}
.login .actions .btn_1{
    width: 50%;
    max-width: 450px;
}
.login .actions .btn_2{
    width: 50%;
    max-width: 450px;
}

login_padding {
  padding: 106px 0 53px;
}
.login p {
    padding-top : 30px;
}